* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

body {
    animation: color-change-2x 3s linear infinite alternate both;
}

@keyframes color-change-2x {
    0% {
      background: #fcffff;
    }
    100% {
      background: #faf1ff;
    }
  }

.container-header {
    max-width: 560px;
    padding: 0 20px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
    display: grid;
    justify-items: center;
}

.container {
    max-width: 1000px;
    padding: 0 20px;
    margin: 0 auto;
}


/* HEADER */

.header-img {
    margin-bottom: 16px;
}

.header-img img {
    border-radius: 16px;
    width: 100%;
    max-height: 310px;
    object-fit: contain;
    box-shadow: 1px 1px 3px 2px rgb(0 0 0 / 30%);
    transition: all .3s;
}
.header-img img:hover {
    animation: gira 1s; 
}

@keyframes gira {
    0% {
        transform: rotateY(360deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}

.header-info h2 {
    font: 600 24px/1.2 'Montserrat', sans-serif;
    margin-bottom: 8px;
    color: #4E5150;
}

.header-info span {
    display: block;
    font: 600 14px/1.2 'Montserrat', sans-serif;
    margin-bottom: 24px;
    color: #A9A9A9;
    text-align: center;
}

.header-follow {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.data-cards {
    background-color: #E5E5E5;
    padding: 16px 32px;
    border-radius: 12px;
    flex: 1 1 120px;
    text-align: center;
}
.data-cards:hover {
    background-color: #eeeeee;
}
.data-cards p {
    font: 600 18px/1.2 'Montserrat', sans-serif;
    color: #4E5150;
}

.data-cards span {
    font: 600 14px/1.2 'Montserrat', sans-serif;
    color: #BDBDBD;
}

@media (max-width: 600px) {
    .header-img {
        padding: 0 60px;
    }
    .header-img img {
        width: 100%;
        max-height: 250px;
        object-fit: contain;
    }
}

/* main */

main.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    gap: 30px;
}

main.container img {
    border-radius: 12px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.397);
}

main.container img:hover {
    transform: scale(1.05);
}

#photo2 {
    grid-column: 2/-1;
}

.container-3-img {
    grid-column: span 2;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.container-3-img > img:first-child {
    grid-column: 1/-1;
}

@media (max-width: 600px) {
    main.container,
    .container-3-img {
        gap: 15px;
    }
}

footer {
    text-align: center;
    font: 500 14px/1.1 'Montserrat', sans-serif;
    margin-top: 100px;
    margin-bottom: 20px;
}

footer a {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 1.1em;
    transition: .1s;
    position: relative;
}

footer a:hover {
    color: rgb(54, 54, 54);
    transform: scale(1.05);
}

footer a::after {
    content: '';
    display: block;
    background-color: black;
    width: 100%;
    height: 2px;
    /* left: 0; */
    position: absolute;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
    transform-origin: right;
}

footer a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}